<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>

    <objects xmlns="http://www.springframework.net">
      <description>这是一个阐述AOP功能的范例</description>
      <!-- 注册方面拦截类 -->
      <object id="aroundAdvice" type="AopTest.Aspects.Interceptor, AopTest" />

      <!--

      拦截方法类可以根据方法名称判断是否需要拦截：

      <object id="aroundAdvisor" type="Spring.Aop.Support.NameMatchMethodPointcutAdvisor, Spring.Aop">
        <property name="Advice">
          <object type="Spring.AopQuickStart.Aspects.ConsoleLoggingAroundAdvice, Spring.AopQuickStart.Common" />
        </property>
        <property name="MappedNames">
          <list>
            <value>*Execute</value>
          </list>
        </property>
      </object>

      -->

      <!-- 定义业务对象的代理类-->

      <object id="myCommand" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">

          <!--指定代理类目标对象，即实际的业务对象-->
          <object type="AOPTest.AOPBLL.Command,AopTest" />
        </property>

        <!--指定方法拦截对象-->
        <property name="InterceptorNames">
          <list>
            <value>aroundAdvice</value>
          </list>
        </property>
      </object>

    </objects>
  </spring>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>